<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room page</title>
</head>
<body>
<h1>Username: {{ username }} - Room: {{ room }}</h1>
<h3>
    Active connections: <span id="active_connections"></span>
</h3>
<form action="" onsubmit="sendMessage(event)">
    <label for="messageText"></label>
    <input type="text" id="messageText" autocomplete="off"/>
    <button>Send</button>
</form>
<ul id='messages'>
</ul>
<script>
    let ws = new WebSocket("ws://localhost:8000/ws/chat?room={{ room }}&username={{ username }}");
    ws.onmessage = function (event) {
        let data = JSON.parse(event.data)
        console.log(typeof (data))
        let active_connections = document.getElementById('active_connections')
        active_connections.innerHTML = data['active_connections']
        let messages = document.getElementById('messages')
        let message = document.createElement('li')
        let content = document.createTextNode(data['message'])
        message.appendChild(content)
        messages.appendChild(message)
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
</body>
</html>